.amigos {
    margin: 4rem 0;
}


nav .nav-item [href="amigos.html"] {
    background-color: #ff522f84;
    border-radius: 1rem;
    font-weight: 600;
}

@media (max-width: 992px) {
    nav .nav-item [href="amigos.html"] {
        background-color: #ff522f84;
        border-radius: 0;
        font-weight: 600;
    }
}